.pageHero {
  grid-column: full-start/full-end;
  grid-row: 1/2;
  background-color: var(--color-primary-light);
  border-bottom: var(--line);
  margin: 0.2rem 0 1.5rem 0;
  padding: 5.5rem 6rem;

  &__text {
    font-size: 1.8rem;
    color: inherit;
    text-transform: uppercase;
    font-weight: 600;
  }
  & a {
    text-decoration: none;
    color: inherit;
    font-weight: 400;
    font-size: 1.8rem;
    cursor: pointer;
    text-transform: capitalize;
  }
}
